@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html, body {
  height: 100%;
}

body {
  background: #f8fafc; /* slate-50 */
  color: #0f172a; /* slate-900 */
}

*::selection {
  background: rgba(99, 102, 241, 0.25);
}
